/********
**
*
* TO-DO: add styling 
*
**
********/

.mapbox-map {
  margin: auto;
  max-width: 900px;
  height: 500px;
}

.map-wrapper {
  width: 100%;
  position: relative;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 12%;
  left: 10%;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.weather-wrapper {
  width: 100%;
  margin: 1% auto;
  /*visibility: hidden; */
}

.card {
  margin: auto;
}
